# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/

# Database
Flog/db.sqlite3

# PyCharm / IntelliJ
.idea/

# Media
Flog/media/

# Migrations
Flog/migrations/

# Compilation files
__pycache__/
*.py[cod]